/*Trang chủ*/
.product__sale {
    min-width: 60px;
    width: auto;
    padding: 0 4px;
}

a.catalog__link:hover {
    background: sandybrown;
}

a.catalog-sub__link:hover {
    color: sandybrown !important;
}

a.catalog-sub__link:hover i {
    color: sandybrown !important;
}

.icon {
    display: inline-block;
    position: relative;
}

.header-top__shopcart .number-cart {
    background: sandybrown;
    padding: 2px 7px;
    color: #fff;
    font-size: 11px;
    position: absolute;
    top: -9px;
    right: -11px;
}

.sec-nt__support {
    padding: 20px 0;
}

/*Trang chi tiết sản phẩm*/
section.sec.sec__product__detail {
    margin-top: 19px;
}

h2.product__view__name {
    font-size: 30px;
}

.product__price.product__price__view .product__price__regular {
    font-size: 21px;
    color: red;
}

.product__price.product__price__view .product__price__old {
    font-size: 16px;
    margin-left: 4px;
}

.product__detail__content .nav-tabs > li.active > a {
    font-size: 20px;
}

.breadcrumb .li {
    color: #337ABA;
}

/*Trang tìm kiếm sản phẩm*/
.sidebar__list .item {
    padding-left: 10px;
}

.sidebar__list .item.active {
    background-color: aliceblue;
}

.sidebar__list .item a {
    display: block;
}

.btn-refresh-search {
    background-color: #e34c4c;
    color: white;
    margin-left: 8px;
}

/*Giỏ hàng*/
.header-top__shopcart .product__shopcart {
    overflow-y: scroll;
    max-height: 380px;
}

.sec__shopcart__info .table-product .td .img-product {
    width: 100px;
    margin-right: 15px;
}

/*Đăng nhập*/
.input100{
    width: 100%;
    height: 42px;
}

.account__input .form-group {
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.account__input .label{
    font-size: 13px;
}

.fa-asterisk {
    color: red;
    font-size: 9px;
}

/*Tài khoản*/
.sidebar-profile .profiles {
    padding-left: 0;
    margin-top: 10px;
}

.user-profile__wrap .wrap__profile__info .label {
    font-size: 13px;
}

.user-profile__wrap .wrap__profile__info .input__wrap {
    width: 80%;
}