/*Trang chủ Admin*/
#return-to-top {
    position: fixed;
    z-index: 999;
    transition: all 0.3s ease-out 0s;
    transform: translateY(0px);
    opacity: 0;
    visibility: visible;
    right: 10px;
    bottom: 60px;
    height: 40px;
    width: 40px;
    background-color: #000;
    border: 2px solid #fff;
    line-height: 30px;
    border-radius: 4px;
    font-size: 20px;
    text-align: center;
}
#return-to-top:hover {
    color: #fff;
    background-color: #ddac55;
    border-color: #d69b33;
}
 
.create-new{
    background-color: #41a741;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

a.create-new:hover {
    color: #41a741;
    background-color: white;
    border: 1px solid
}


i.fas fa-plus:hover {
    color: #41a741;
    background-color: white;
    border: 1px solid
}


.note-editing-area {
    min-height: 130px;
}
.btn-group-lg > .btn, .btn-lg {
    padding: .5rem 0rem;
}
.btn-lg {
    font-size: 1rem !important;
}

.dz-preview.dz-image-preview {
    display: inline-block;
    margin: 5px;
}
.pagination-container {
    display: flow-root;
    margin-right: 30px;
}
.pagination {
    float: right;
}
.pagination li {
    padding-left:10px; 
    padding-right: 10px;
    padding-top: 5px; 
    padding-bottom: 5px;
    background-color: aliceblue;
}
.pagination li:hover {
    background-color: gainsboro;
}
.pagination li.active {
    background-color: #337ab7;
    color: white;
    z-index: 3;
}
.table tbody tr:hover td, .table tbody tr:hover th{
    background-color: gainsboro;
}







/*Trang chỉnh sửa sản phẩm*/
.dz-image img {
    max-width: 120px;
    max-height: 120px;
}

a.dz-remove {
    color: red;
    text-decoration: none;
    background-color: white;
    border: solid 2px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
}
a.dz-remove:hover {
    color: white;
    text-decoration: none;
    background-color: red;
    border: solid 2px;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 4px;
}