/*Trang chủ*/
.product__sale {
    min-width: 60px;
    width: auto;
    padding: 0 4px;
}

a.catalog__link:hover {
    background: sandybrown;
}

a.catalog-sub__link:hover {
    color: sandybrown !important;
}

a.catalog-sub__link:hover i {
    color: sandybrown !important;
}

.icon {
    display: inline-block;
    position: relative;
}

.header-top__shopcart .number-cart {
    background: sandybrown;
    padding: 2px 7px;
    color: #fff;
    font-size: 11px;
    position: absolute;
    top: -9px;
    right: -11px;
}

/*Trang chi tiết sản phẩm*/
section.sec.sec__product__detail {
    margin-top: 19px;
}

h2.product__view__name {
    font-size: 30px;
}

.product__price.product__price__view .product__price__regular {
    font-size: 21px;
    color: red;
}

.product__price.product__price__view .product__price__old {
    font-size: 16px;
    margin-left: 4px;
}

.product__detail__content .nav-tabs > li.active > a {
    font-size: 20px;
}

.breadcrumb .li {
    color: #337ABA;
}