
@{
    ViewBag.Title = "ShoppingCart_ImportInfo";
}

@*<div class="header__second">
        <div class="container">
            <div class="logo pull-left">
                <a class="image">
                    <img src="./images/logo.png" alt="">
                </a>
                <h1 class="name hidden">Thời trang Bishop</h1>
            </div>
            <div class="back__home pull-right">
                <a href="#" class="nav"><span class="-ap icon-arrow-back"></span> Trở về trang chủ </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>*@
<!-- End menu -->
<div class="sec sec__shopcart">

    <div class="container">
        <div class="nav-steps">
            <a href="~/Home/ShoppingCart_ImportInfo">
                <div class="nav-step__item active">
                    <span class="number">1</span>
                    <span class="txt">Giỏ hàng</span>
                </div>
            </a>
            <div class="nav-step__item waiting">
                <span class="number">2</span>
                <span class="txt">Nhập thông tin</span>
            </div>
            <div class="nav-step__item">
                <span class="number">3</span>
                <span class="txt">Xác nhận thông tin</span>
            </div>
            <div class="nav-step__item">
                <span class="number">4</span>
                <span class="txt">Hoàn thành</span>
            </div>
        </div>
        <div class="row">
            <div class="sec__shopcart__info col-md-12 col-sm-12 col-xs-12">
                <div class="box-user__info panel">
                    <div class="title">Thông tin cá nhân</div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-6 col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <div class="label">Họ tên</div>
                                    <input type="text" class="form-control" placeholder="Họ">
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <div class="label">Họ tên</div>
                                    <input type="text" class="form-control" placeholder="Tên">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">Email</div>
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                    </div>
                </div>
                <div class="box-user__info panel">
                    <div class="title">Thông tin thanh toán và nhận hàng</div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-6 col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <div class="label">Số điện thoại:</div>
                                    <input type="text" class="form-control" placeholder="SĐT">
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <div class="label">Họ tên:</div>
                                    <input type="text" class="form-control" placeholder="Tên">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">Email</div>
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <div class="label">Địa chỉ:</div>
                            <input type="text" class="form-control" placeholder="Địa chỉ">
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <div class="label">Tỉnh thành:</div>
                                    <select name="" id="" class="selectpicker form-control" data-live-search="true">
                                        <option value="">Hà Nội</option>
                                        <option value="">Hồ Chí Minh</option>
                                        <option value="">Đà Nẵng</option>
                                        <option value="">Bắc Giang</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <div class="label">Quận huyện:</div>
                                    <select name="" id="" class="selectpicker form-control" data-live-search="true">
                                        <option value="">Ngã Tư Sở</option>
                                        <option value="">Ô Chợ Dừa</option>
                                        <option value="">Từ Liêm</option>
                                        <option value="">Thanh Xuân</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">Ghi chú:</div>
                            <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Nội dung"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <a class="btn btn__back" href="~/Home/ShoppingCart">Quay lại</a>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <a class="btn btn__next" href="~/Home/ShoppingCart_Confirmed">Tiếp tục thanh toán</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<a class="scroll-top"><span class="fa fa-angle-up"></span></a>
